<div class="container-fluid position-relative p-0">
  <!-- Search input container -->
  <div class="position-absolute top-0 start-0 m-3 w-100" style="z-index: 1000;">

    <!-- Desktop: left aligned input -->
    <div class="d-none d-md-block left-input">
      <input type="text" class="form-control" placeholder="Ort oder Postleitzahl..." [(ngModel)]="searchTerm"
        (input)="onSearchChange()" (keydown)="onEnterKey($event)" />
      <ul *ngIf="filteredCities.length > 0" class="list-group mt-2" style="max-height: 287px; overflow-y: auto;">
        <li class="list-group-item list-group-item-action" *ngFor="let p of filteredCities" (click)="selectPlace(p)"
          (keydown.enter)="selectPlace(p)" tabindex="0">
          {{ p.place }} ({{ p.zipcode }})
        </li>
      </ul>
    </div>

    <!-- Mobile/tablet: centered input -->
    <div class="d-block d-md-none container text-center">
      <input type="text" class="form-control mx-auto centered-input" placeholder="Ort oder Postleitzahl..."
        [(ngModel)]="searchTerm" (input)="onSearchChange()" (keydown)="onEnterKey($event)" />
      <ul *ngIf="filteredCities.length > 0" class="list-group mt-2 mx-auto" style="max-width: 250px; max-height: 287px; overflow-y: auto;">
        <li class="list-group-item list-group-item-action" *ngFor="let p of filteredCities" (click)="selectPlace(p)"
          (keydown.enter)="selectPlace(p)" tabindex="0">
          {{ p.place }} ({{ p.zipcode }})
        </li>
      </ul>
    </div>
  </div>

  <!-- Map container -->
  <div class="map-wrapper px-5">
    <div id="map" style="height: 100vh; width: 100%;"></div>
  </div>
</div>