<!-- DESKTOP -->
<div class="side-panel d-flex flex-column bg-white shadow" *ngIf=!isMobile [class.collapsed]="isCollapsed">

    <!-- Panel switching -->
    <div class="p-3 side-panel-content" [class.collapsed]="isCollapsed">
        <app-content *ngIf="activePanel === 'content'" [data]="selectedOccurrence"></app-content>
        <app-sources *ngIf="activePanel === 'sources'"></app-sources>
    </div>

    <!-- Tab nav for content/sources -->
    <div class="toggle-button-container">
        <div class="btn-group m-3 justify-content-center d-flex" role="group" *ngIf="!isCollapsed">
            <button type="button" class="btn btn-outline-secondary" [class.active]="activePanel === 'content'"
                (click)="showPanel('content')" data-testid="content-tab-button">
                Inhalt
            </button>
            <button type="button" class="btn btn-outline-secondary" [class.active]="activePanel === 'sources'"
                (click)="showPanel('sources')">
                Quellen
            </button>
        </div>
    </div>

    <!-- Toggle button -->
    <button class="toggle-button text-center" (click)="togglePanel()" [class.collapsed]="isCollapsed">
        <span>{{ isCollapsed ? '>' : '<' }}</span>
    </button>

</div>

<!-- MOBILE -->
<div *ngIf="isMobile" class="d-flex flex-column h-100">
    <div class="side-panel d-flex flex-column mobile" [class.collapsed]="isCollapsed">
        <div class="p-3 overflow-auto" [ngClass]="{ 'fade-hidden': activePanel !== 'content' }">
            <app-content *ngIf="activePanel === 'content'" [data]="selectedOccurrence"></app-content>
            <app-sources *ngIf="activePanel === 'sources'"></app-sources>
        </div>

        <div class="btn-group m-auto w-100 d-flex justify-content-center align-items-center btn-group-mobile-bottom"
            *ngIf="!isCollapsed">
            <button class="btn btn-outline-secondary" [class.active]="activePanel === 'content'"
                (click)="showPanel('content')">
                Inhalt
            </button>
            <button class="btn btn-outline-secondary" [class.active]="activePanel === 'sources'"
                (click)="showPanel('sources')">
                Quellen
            </button>
        </div>
    </div>

    <button class="toggle-button" (click)="togglePanel()">
        {{ isCollapsed ? '↑' : '↓' }}
    </button>
</div>