* {
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.list-group::-webkit-scrollbar {
  width: 8px;
}

.list-group::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

.list-group::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.list-group::-webkit-scrollbar-thumb:hover {
  background: #555;
}