.container {
    background-color: #F8F8f8;
}

.line {
    min-width: 100%;
    min-height: 1px;
    color: grey;
    background-color: grey;
    z-index: 9999;
    
    -webkit-mask-image: linear-gradient(to right, transparent, black 20%, black 80%, transparent);
    mask-image: linear-gradient(to right, transparent, black 20%, black 80%, transparent);
}