<!-- Search input container -->
<div class="position-relative w-100 mt-3">
  <!-- Desktop input -->
  <div class="d-none d-md-block left-input">
    <input type="text" class="form-control" placeholder="Ort oder Postleitzahl..." [(ngModel)]="searchTerm"
      (input)="onSearchChange()" (keydown)="onEnterKey($event)" />
    <ul *ngIf="filteredCities.length > 0" class="list-group mt-2 list-style">
      <li class="list-group-item list-group-item-action" *ngFor="let p of filteredCities" (click)="selectPlace(p)"
        (keydown.enter)="selectPlace(p)" tabindex="0">
        {{ p.place }} ({{ p.zipcode }})
      </li>
    </ul>
  </div>

  <!-- Mobile/tablet input -->
  <div class="d-block d-md-none text-center">
    <input type="text" class="form-control mx-auto centered-input" placeholder="Ort oder Postleitzahl..."
      [(ngModel)]="searchTerm" (input)="onSearchChange()" (keydown)="onEnterKey($event)" />
    <ul *ngIf="filteredCities.length > 0" class="list-group mt-2 mx-auto list-style-mobile">
      <li class="list-group-item list-group-item-action" *ngFor="let p of filteredCities" (click)="selectPlace(p)"
        (keydown.enter)="selectPlace(p)" tabindex="0">
        {{ p.place }} ({{ p.zipcode }})
      </li>
    </ul>
  </div>
</div>
<!-- Additional content -->
<div class="d-flex mt-4 p-2">
  <div class="row">
    <div class="col-md-12 panel-content" [ngClass]="{ 'hidden': isCollapsed }">
      <div class="weather-info p-2 mb-2">
        <ng-container *ngIf="weatherInfo; else noWeatherInfo">
          <p class="text-center"><strong>{{ weatherInfo.cityName }}</strong></p>
          <p>❄️ Min: {{ weatherInfo.minTemp }}</p>
          <p>🔥 Max: {{ weatherInfo.maxTemp }}</p>
          <p>☁️ Niederschlag: {{ weatherInfo.precipitation }}</p>
        </ng-container>

        <ng-template #noWeatherInfo>
          <p class="text-muted fst-italic text-center">
            Bitte suchen Sie im Eingabefeld oder klicken Sie auf einen Temperature-Pin.
          </p>
        </ng-template>
      </div>
    </div>
    <div class="col-md-12 panel-content" [ngClass]="{ 'hidden': isCollapsed }">
      <h2>
        Health status
      </h2>
      <p>
        {{ healthStatusContent }}
      </p>
    </div>
    <div class="col-md-12 panel-content" [ngClass]="{ 'hidden': isCollapsed }">
      <h2>
        Health risks
      </h2>
      <p>
        {{ healthRiskContent }}
      </p>
      <div class="col-md-12 panel-content" *ngIf="data && !isCollapsed">
        <h2>Mückenvorkommen</h2>
        <p><strong>Spezies:</strong> {{ data.species }}</p>
        <p><strong>Datum:</strong> {{ data.eventDate | date:'dd.MM.yyyy' }}</p>
        <p><strong>Koordinaten:</strong> {{ data.latitude }}, {{ data.longitude }}</p>
      </div>
    </div>
  </div>
</div>